<div class="page-header section-dark" style="background-image: url('assets/images/patient.jpg');min-height:60vh;">
  <div class="filter"></div>
  <div class="content-center">
      <div class="container">
          <div class="title-brand"><br/><br/><br/><br/>
              <h2 class="presentation-title" style="font-size:4em;"> {{chosenBoughtPackage.name}}</h2><br/><br/><br/><br/>
          </div>
          <h5 class="text-center" style="color:white;">Wallet : {{chosenBoughtPackage.holdAmount}}</h5>
          <h5 class="text-center" style="color:white;">Contingency Fund : {{chosenBoughtPackage.contingencyFund}}</h5>
      </div>
  </div>
</div>
<br/>
<br/>


<div class="container">
    <div id="content">
      <div id="main-content" style="flex-direction:column;">
        <mat-tab-group style="flex-direction:column;">
          <mat-tab label="Procedures">
              <br/><br/>
              <div class="example-container mat-elevation-z8" style="width:80%;margin-left:10%;">
                  <mat-table #table [dataSource]="fundprocedures">
                
                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                
                    <!-- Position Column -->
                    <ng-container matColumnDef="checked">
                      <mat-header-cell *matHeaderCellDef>Check</mat-header-cell>
                      <mat-cell *matCellDef="let element"> 
                        <mat-checkbox *ngIf="element.providerCheck" [(ngModel)]="element.patientCheck" [disabled]="element.patientCheck==true" [checked]="element.patientCheck==true"  (ngModelChange)="sendProcedureRow($event,element)"></mat-checkbox>
                      </mat-cell>
                    </ng-container>
                
                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.position + 1}} </mat-cell>
                    </ng-container>
                
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                    </ng-container>
                
                    <!-- Weight Column -->
                    <ng-container matColumnDef="description">
                      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
                    </ng-container>
                
                
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}" (click)="row.highlighted = !row.highlighted;" (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></mat-row>
                  </mat-table>
                </div>
          </mat-tab>
          <mat-tab label="Contingency">
              <br/><br/>
              <div class="example-container mat-elevation-z8" style="width:80%;margin-left:10%;">
                  <mat-table #table [dataSource]="fundcontingencies">
                
                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                
                    <!-- Position Column -->
                    <ng-container matColumnDef="checked">
                      <mat-header-cell *matHeaderCellDef>Check</mat-header-cell>
                      <mat-cell *matCellDef="let element"> 
                        <mat-checkbox *ngIf="element.providerCheck" [(ngModel)]="element.patientCheck" [disabled]="element.patientCheck==true" [checked]="element.patientCheck==true" (ngModelChange)="sendContingencyRow($event,element)"></mat-checkbox>
                      </mat-cell>
                    </ng-container>
                
                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.position + 1}} </mat-cell>
                    </ng-container>
                
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                    </ng-container>
                
                    <!-- Weight Column -->
                    <ng-container matColumnDef="description">
                      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
                    </ng-container>
                
                
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}" (click)="row.highlighted = !row.highlighted;" (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></mat-row>
                  </mat-table>
                </div>
          </mat-tab>
          <mat-tab label="Unvalidated Contigencies">
              <br/><br/>
              <div class="example-container mat-elevation-z8" style="width:80%;margin-left:10%;">
                  <mat-table #table [dataSource]="unvalidatedcontingenices">
                
                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                
                    <!-- Position Column -->
                    <ng-container matColumnDef="checked">
                      <mat-header-cell *matHeaderCellDef>Check</mat-header-cell>
                      <mat-cell *matCellDef="let element"> 
                        <mat-checkbox *ngIf="element.providerCheck" [(ngModel)]="element.patientCheck" [disabled]="element.patientCheck==true" [checked]="element.patientCheck==true" (ngModelChange)="sendContingencyRow($event,element)"></mat-checkbox>
                      </mat-cell>
                    </ng-container>
                
                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.position + 1}} </mat-cell>
                    </ng-container>
                
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                    </ng-container>
                
                    <!-- Weight Column -->
                    <ng-container matColumnDef="description">
                      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
                    </ng-container>
                
                
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}" (click)="row.highlighted = !row.highlighted;" (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></mat-row>
                  </mat-table>
                </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>

<br/><br/>


<br/><br/>

