<div style="height: 100vh;"  >
    <mat-toolbar style="background-color:#393e56;color:white;">
      <span>Medical Tourism</span>
  
      <span class="example-spacer" style="flex:1 1 auto;"></span>
  
      <div fxShow="true" fxHide.lt-md="true">
        <a mat-button (click)="openRegisterDialog()" *ngIf="!loggedUser && !loggedIA && !loggedIACentre">
          <mat-icon>people</mat-icon><span style="font-size:18px;">Register</span>
        </a>
        <a mat-button (click)="openLoginDialog()" *ngIf="!loggedUser && !loggedIA  && !loggedIACentre">
          <mat-icon>lock</mat-icon><span style="font-size:18px;">Login</span>
        </a>
      </div>
    </mat-toolbar>
  
    <mat-sidenav-container fxFlexFill class="example-container">
      <mat-sidenav-content  fxFlexFill>
          <ng-content ></ng-content>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>






  

  
<!-- <p>
  navbar works!
</p> -->
