
textarea {
    resize: none;
}
.heading{
    font-size: 0.9em;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.5em;
}
.viewingForm{
    background-image: url("/assets/images/formbg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
tr.list:hover{
    -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
    box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
}